/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@font-face {
    font-family: Nirmala UI;
    src: url("../font/NirmalaS.ttf") format("truetype") /* Safari, Android, iOS */
    
}
@font-face {
    font-family: Elvetical UI;
    src: url('../font/HelveticaLTStd-Roman.otf') format("opentype");
/*    src: url('HelveticaLTStd-Roman.otf');  IE9 Compat Modes 
    src: url('HelveticaLTStd-Roman.otf') format('embedded-opentype'),  IE6-IE8 
       url('HelveticaLTStd-Roman.otf') format('woff2'),  Super Modern Browsers 
       url('HelveticaLTStd-Roman.otf') format('woff'),  Pretty Modern Browsers 
       url('HelveticaLTStd-Roman.otf')  format('truetype'),  Safari, Android, iOS 
       url('HelveticaLTStd-Roman.otf') format('svg');  Legacy iOS */
    
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body{
    background: #323232; 
}


/* Portrait layout (default) */
.app {
}

.img_logo{
    width: 260px;
    /*height: 150px;*/
}
.centrado-absoluto{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }  
    .waze_btn{  
        width: 40px;
        background: none !important;
        border:  none !important;
        position: absolute !important;
        right: 25%;
        bottom: 11%;
        z-index: 9999;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
