html,body{
    height:100% !important;
    margin:0 !important; 
    padding: 0 !important;
    width: 100% !important;
    font-family: Nirmala UI !important;
}
/*estilos para los popup*/
.popup{
    background-color: white;
    width: 320px !important;
    height: 450px;
}
.quepaso{
    height: 286px !important;
    width: 278px !important;
    border: transparent !important;
    border-radius: 8px !important;
}
.quepaso:focus{
    outline: none !important;
    outline-color: transparent !important;
}

/*estilos para la imagen de perfil*/
.foto_perfil{
    width: 50%;
    height: 50%
}
/*-------------------------------------------------------*/

/*estilos para las sombras de los input y botones de fomrulario*/
.formulario_cheto{
    margin-top: 20px;
}
.formulario_cheto .ui-input-text{
    border: 3px solid  rgb(12, 156, 88) !important;
    border-radius: 50px !important;
    background: white !important;    
}
.formulario_cheto .ui-shadow-inset{
    box-shadow: rgb(12, 156, 88) !important;
    border-color: rgb(12, 156, 88) !important;
}
.formulario_cheto .ui-focus{
    outline: none; /* I also proved with 0 */
    -webkit-box-shadow:  1px 0px 38px -2px rgba(0,0,0,0.72) !important;
    -moz-box-shadow: 1px 0px 38px -2px rgba(0,0,0,0.72) !important;
    box-shadow: 1px 0px 38px -2px rgba(0,0,0,0.72) !important;
}
.formulario_cheto .ui-btn:active{
    outline: none; /* I also proved with 0 */
    -webkit-box-shadow:  1px 0px 38px -2px rgba(0,0,0,0.72) !important;
    -moz-box-shadow: 1px 0px 38px -2px rgba(0,0,0,0.72) !important;
    box-shadow: 1px 0px 38px -2px rgba(0,0,0,0.72) !important;
}
.formulario_cheto .ui-btn{
    border-color: 3px solid rgb(12, 156, 88) !important;
    font-weight: 400 !important;
    text-shadow: none !important;
    padding: 1px 2px 6px 3px !important;
    border-radius: 50px !important;
    background-color: #323232;
    color: white !important;
}
.formulario_cheto .ui-select{
    border-color:   3px solid  rgb(12, 156, 88) !important;
    border-radius: 50px !important;
}
.esveltica{
    font-family: Elvetical UI !important;
    color: #000 !important;/* #777 !important;*/
}
.esveltica_black{
    font-family: Elvetical UI !important;
    color: black !important;
}
/*--------------------------------------------------------------*/


/*estilos especificos para pagina reserva y mapa*/


.mapa{
    height: 100%;
}
/*#map-page, #map-canvas { width: 100%; height: 95%; padding: 0; }*/
/*#map-page1, #map-canvas1 { width: 100%; height: 60%; padding: 0; }*/

.ui-content #map-canvas1 { width: 100%; height: 260px; padding: 0; }
/*#reserva, #page-seguimiento, #map-page {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}*/
.ui-content {
  padding: 0 !important;
  margin-top: 4vh !important;
}
/*----------------------contenedor mapa conductor--------------------*/
.ui-content #map-canvas{
  margin-top: 25px !important;
  height: inherit;
}
#homeconductor .ui-content{
    margin-top: -10px !important;
}
.ui-content .map-canvas-conductor{
  margin-top: 0px !important;
  height: 98vh;
}

.ui-content .map-canvas-conductor_aceptado{
  margin-top: 0px !important;
  height: 78vh;
}

.ui-content #map-canvas-user{
  margin-top: 0px !important;
  height: 95vh;/*MODIFICADO*/
  margin-left: 8px;
  margin-right: 8px;
}
.mapa_seguimiento{
    height: 500px !important;
}
/*.ui-content #map-canvas-seguimiento{
    height: 100vh;
    height: 260px;
}*/
.telefono_btn_micheto{  
    width: 40px;
    background: none !important;
    border:  none !important;
    position: absolute;
    right: 10%;
    top: 14%;
    z-index: 99999;
}
.telefono_btn{  
    width: 40px;
    background: none !important;
    border:  none !important;
    /*position: absolute;*/
    left: 1%;
    bottom: 28%;
    z-index: 99999;
}
.telefono_btn_user{  
    background: none !important;
    border:  none !important;
    z-index: 999;
    padding-top: 5px !important; 
    width: 25px;
    margin-right: 10px
    /*padding-left: 210px !important;*/
}
/*.tablero_ruta-user .ui-btn{
    box-shadow: none !important;
    border-color: transparent !important;
}*/
.waze{
    background: none;
    position: fixed;
    right: 1vh;
    top: 16vh;
}
.waze_btn{  
    background: none !important;
    border:  none !important;
}

.telefono_img{
    width: 40px;
    height: 40px;
}
.waze_img{
    width: 8vh;
    height: 8vh;
    box-shadow:0px 0px 2px 2px #323232;
    border-radius: 10%;
}
.telefono_img:active{
    border-radius: 100px;
    -webkit-box-shadow:  1px 0px 38px -2px rgba(0,0,0,0.72) !important;
    -moz-box-shadow: 1px 0px 38px -2px rgba(0,0,0,0.72) !important;
    box-shadow: 1px 0px 38px -2px rgba(0,0,0,0.72) !important;
}
#recogida{
    width: 100%;
    position: absolute;
    top: 60px;
    left: 5px;
    z-index: 999;
}
#recogida input{
    background-image: url(../img/iconos/lupa1.png);
    background-position: 100% 0;
    height: 50px;
    background-repeat: no-repeat;
    font-weight: bold !important;
}
#recogida .ui-input-text{
    border: 1px solid  #fff !important;
    border-radius: 10px;
    background-color: #fff !important;    
}
.dejada{
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 5px;
    z-index: 999;
}
.dejadar{
    width: 100%;
    position: absolute;
    top: 100px;
    left: 5px;
    z-index: 999;
}
#dejada input{
    background-image: url(../img/iconos/lupa1.png);
    background-position: 0 50%;
    background-repeat: no-repeat;
    height: 50px;
    font-weight: bold !important;
}
#dejada .ui-input-text{
    border: 1px solid  #fff !important;
    border-radius: 10px;
    background-color: #fff !important;    
}
#dejada #direccionllegada{
    text-align: right;
}
.popup_reserva{
    margin-top: 130px;
    width: 340px; 
    padding: 5px;
    background-color: rgba(255, 255, 0, 0.8);
}

.popup_confirmacion_reserva{
    width: 250px;
    max-width: 300px;
    background: rgb(12, 156, 88) !important;
}

.horaentrada::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #777;
}
.horaentrada:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #777;
   opacity:  1;
}
.horaentrada::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #777;
   opacity:  1;
}
.horaentrada:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #777;
}
.horaentrada::-ms-input-placeholder { /* Microsoft Edge */
   color:    #777;
}
#diasrecogidas{
    width: 95%;
    margin: 0px auto;
    text-align: center;
    font-size: 20px;
}
.diasrecogidas input[type=checkbox]{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin: 10px;
}
.diasrecogidas .numero{
    font-size: 25px;
    vertical-align: top!important;
    margin-top: -4px;
}
.oculta{
    display: none !important;
}
.vistalineal{
    display: inline-block !important;     
}
.vistalineal img{
    width: 5vh;
    height: 5vh;
    /*border-radius: 50px;*/
}
.ui-panel{
    height: 100%;
}
/*--------------------------------------------------------------*/

/*----------estilos especificos para pagina principal----------*/
.slider_content{
  text-align: left;
  padding: 24px 0px 10px 45px;
  box-sizing: border-box;
}
.label_switch{
    width: 120px;
    height: 37px;
    padding-top: 11px;
}
.ui-slider-track{border-radius: 50px !important}
.ui-slider-label-a{
    background-color:  black !important;  
}
.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b{
    background: #2f2e2f !important;
}
.ui-panel-inner .ui-btn{
    text-align: left !important;
    font-weight: 100 !important;
    margin: .1em 0 !important;
    padding: .5em 1em !important;
}
.ui-btn{
    box-shadow: none !important;
    border-color: transparent !important;    
}
.mis_rutas{
    margin: 3px 0px 20px 3px;
    border: 3px solid rgb(12, 156, 88);
    border-radius: 8px;
    min-height: 150px;
    font-size: 12px;
}
.tabla_misrutas{
    margin: 5px;
}
/*-------------------------------------------------------*/

/*--------------------loader*-----------------------------*/
.cargando
{
    z-index: 999999999;
    width: 100%;
    height: 100%;
    text-align: center;
    /*background-color: rgba(0,0,0,0.4);*/
    position: absolute;
    left: 0px;
    top: 0px;

}
.loading{
    width: 150px;
    height: 150px;
    position:absolute;
    left:0px;
    right:0px;
    top:40%;
    margin:auto;
}

/*----------------texto en fondo oscuro---------------------*/
/*::-webkit-input-placeholder {  WebKit, Blink, Edge 
    color:    rgba(255,255,255,0.1);
    padding-left: 0px !important;
}
:-moz-placeholder {  Mozilla Firefox 4 to 18 
   color:    rgba(255,255,255,0.1);
   opacity:  1;
   padding-left: 0px !important;
}
::-moz-placeholder {  Mozilla Firefox 19+ 
   color:    rgba(255,255,255,0.1);
   opacity:  1;
    padding-left: 0px !important;
}
:-ms-input-placeholder {  Internet Explorer 10-11 
   color:    rgba(255,255,255,0.1);
    padding-left: 0px !important;
}
::-ms-input-placeholder {  Microsoft Edge 
   color:    rgba(255,255,255,0.1);
    padding-left: 20px !important;
}*/
.titulo_espacio{
    letter-spacing: 3px;
}

.margen-cero{
    padding: 0px !important;  
}
.sin-margen{margin: 0 !important;}
.sin-padding{padding: 0 !important;}
.sin-fondo{background: none !important; border: none !important;}
.sin-fondo-normal{background: none !important;}
.sin_borde{border: none !important; border-radius: 0px !important; -webkit-box-shadow: none !important;}
.sin-decoracion{word-wrap: initial !important; border: none !important; text-decoration: none !important; font-weight: lighter !important; box-shadow: none !important; text-shadow: none !important;}
.texto_blanco{color: white !important;}
.texto-28{font-size: 28px !important;}
.texto-24{font-size: 24px !important;}
.texto-20{font-size: 20px !important;}
.texto-18{font-size: 18px !important;}
.texto-16{font-size: 16px !important;}
.texto-14{font-size: 14px !important;}
.texto-13{font-size: 13px !important;}
.texto-12{font-size: 12px !important;}
.texto-10{font-size: 10px !important;}
.texto-pequeno{font-size: 0.8em !important;}
.text-bolder{font-weight: bolder !important;}
/*-------------------------------------------------------*/

/*clases flotantes para divs o contanedores*/
.flotarderecha{float: right !important;}
.flotarizaquierda{float: left !important;}
.switch{
    position: absolute !important;
    top:3px !important;
    right: 5px !important;
}
.arial{font-family: Nirmala UI, sans-serif !important;}
.negrita{
    font-weight: bold !important;
}
.blanco{color: #fff !important;}
.negro{color: #000 !important;}
.verde{color: #008c53 !important}
.amarillo{color: rgb(12, 156, 88) !important}
.rojo{color: #7d3e3e !important;}
.infocheto{
    position: absolute; 
    top: 50%; 
    right: 20%;
    width: 70px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 3px;
}
.texto_titulo{
    font-size: 17px;
    font-weight: bold;
    color: black;
}
/*-------------------------------------------------------*/

/*anchos espesificios para divs o contenedores*/
.lb-auto{width: auto;}
.lb-100{width: 100%;}
.lb-95{width: 95% !important;}
.lb-90{width: 90% !important;}
.lb-85{width: 85%;}
.lb-80{width: 80%;}
.lb-73{width: 73%; padding-top: 10px;}
.lb-72{width: 72%;}
.lb-64{width: 64%;}
.lb-62{width: 62%;}
.lb-60{width: 60% !important;}
.lb-58{width: 58% !important;}
.lb-55{width: 55% !important;}
.lb-54{width: 54.7% !important;}
.lb-50{width: 50% !important;}
.lb-49{width: 49.6% !important;}
.lb-48{width: 48% !important;}
.lb-45{width: 45% !important;}
.lb-43{width: 43% !important;}
.lb-42{width: 42% !important;}
.lb-40{width: 40% !important;}
.lb-38{width: 38%;}

.lb-35{width: 35% !important;}
.lb-34{width: 34.6% !important;}
.lb-32{width: 32% !important;}
.lb-30{width: 30% !important;}
.lb-25{width: 25% !important;}
.lb-20{width: 20% !important;}
.lb-15{width: 15% !important;}
.lb-12{width: 12% !important;}
.lb-10{width: 10% !important;}
.lb-9{width: 9% !important;}
.lb-7{width: 7% !important;}
.lb-5{width: 5% !important;}
.contenedor{width: 90% !important; height: auto !important; border-radius: 8px; background-color: white; border: 1px solid #e5e5ee;}
.alto_slide{padding-top: 5%;}
.alto_img_slide{height: 200px;}
.alto_ticket{height: 120px;}
.alto_btn_estado{height: 57px;}
.alto_btn_estado_aceptado{height: 87px;}
.alto_rotabaner{height: 30px;}
.alto_foot{height: 28px; padding-top: 5%;}
.separador{border: 1px   solid rgb(12, 156, 88); height: 40px; margin-top: 2%;}
.separador_btn{border: 1px   solid white; height: 18px; margin-top: 3%;}
.sombrae{
-webkit-box-shadow: 1px 1px 1px 1px #e5e5ee;
-moz-box-shadow: 1px 1px 1px 1px #e5e5ee;
box-shadow: 1px 1px 1px 1px #e5e5ee;
/* Código by css3html5.com.ar */
}
.tarjetas{width: 95%; height: 40px;}
.borde_amarillo{/*AGREGADO*/
    border: solid 1px rgb(12, 156, 88) !important;
}

.borde_izquierdo{
    border-left: 1px solid rgb(12, 156, 88) !important;
    border-radius: 0px !important;
}
.borde_derecho{
    border-right: 1px solid rgb(12, 156, 88) !important;
    border-radius: 0px !important;
}
.borde_izquierdo_v{
    border-left: 1px solid rgb(12, 156, 88) !important;
    border-radius: 0px !important;
}
.borde_derecho_v{
    border-right: 1px solid rgb(12, 156, 88) !important;
    border-radius: 0px !important;
}
.borde_v{
    border: 1px solid green !important;
    border-radius: 0px !important;
}
.borde_lr_v{
    border-left: 1px solid green !important;
    border-right: 1px solid green !important;
    border-radius: 0px !important;
}
.borde_lfb_v{
    border-left: 1px solid green !important;
    border-right: 1px solid green !important;
    border-bottom: 1px solid green !important;
    border-radius: 0px !important;
}
.borde_derechob_v{
    border-right: 1px solid green !important;
    border-bottom: 1px solid green !important;
    border-radius: 0px !important;
}
.borde_redondeado{border-radius: 50px !important;}
.alto_rutaasignada_banner{height: 40px;}
.rutaasignada_banner{
    position: absolute;
    top:8vh;
    left: 16px;
    width: 91.4%;
}
.tiempocheto {
    text-align: center;
    /*position: absolute;*/
    /*top: 3%;*/
    width: 9vh;
    /*height: 10vh;*/
    border-radius: 50%;
}

.labelcrono {
    text-align: center;
    position: absolute;
    top: 0%;
    border: 1px solid #ccc;
    /*transform: rotate(20deg);*/
}

.poscrono{
    text-align: center;
    position: fixed;
    top: 11%;
    right: 1vh;
}

.rutaasignada_banner .ui-btn{
        padding: .1em 1em;
        border-radius: 5px !important;
        margin: .5em 0;
}
.alto_rutaaceptada_header{height: 50px;}
.alto_rutaaceptada_foot{height: 48px;}
.serv_aceptado{
    height: 46px;
    width: 100%;
}
.vertical_foot{
    vertical-align: baseline !important;    
}
.vertical_center{
    vertical-align: text-top !important;    
}
.vertical_foot p{
    text-align: center !important;
    font-family: inherit !important;
    margin: -0.3em auto 0em auto;
    padding-top: 0 !important;
    padding-bottom: 0em !important;
    border-bottom: 0px !important;
    background: transparent !important;
}
.vertical_center p{
    text-align: center !important;
    font-family: inherit !important;
    margin: 1em auto 1em auto;
    padding-top: 0 !important;
    padding-bottom: 0em !important;
    border-bottom: 0px !important;
    background: transparent !important;
}
/*-------------------------------------------------------*/

/*margenes espesificios para divs o contenedores*/
.margen_top-30p{margin-top: 30% !important;}
.sin-margen-abajo{margin-bottom: 0% !important;}

.margen_top_30{margin-top: 7vh !important;}
.margen_top_25{margin-top: 25px !important;}
.margen_top-17{margin-top: 17px !important;}
.margen_top-15{margin-top: 15px !important;}
.margen_top-13{margin-top: 13px !important;}
.margen_top-11{margin-top: 11px !important;}
.margen_top-10{margin-top: 2% !important;}/*modificado Diana*/
.margen_top-5{margin-top: 5px !important;}
.margen_top-n5{margin-top: -5px !important;}
.margen_top-n10{margin-top: -10px !important;}
.margen_top-n15{margin-top: -15px !important;}
.margen_top-n60{margin-top: -60px !important;}

.margen_left_30p{margin-left: 30% !important;}
.margen_left_20p{margin-left: 20% !important;}
.margen_left_14p{margin-left: 14% !important;}
.margen_left_10p{margin-left: 10% !important;}
.margen_left_5p{margin-left: 5% !important;}

.margen_left_18{margin-left: 18px !important;}
.margen_left_15{margin-left: 15px !important;}
.margen_left-5{margin-left: 5px !important;}
.margen_right-3{margin-right: 3%;}
.margen_left-n5{margin-left: -5px;}
.margen_left-n15{margin-left: -15px;}

.padding_left-9{padding-left: 12px !important}
.padding_left-6{padding-left: 6px !important}
.padding_left-5{padding-left: 5px !important}
.paddingizquierdo-0{padding-left: 0px !important;}

.padding-top-25{padding-top: 25px !important;}
.padding-top-10{padding-top: 10px !important;}
.padding-top-10vh{ padding-top: 10vh !important;}
.padding-top-5{padding-top: 5px !important;}
.pading-top-0{padding-top: 0px !important;}
.padding-button-3{padding-bottom: 3px !important;}
.pading-todo-30{padding: 30px !important;}
.margen-todo{margin: 8px !important;}
.margen-todo-30{margin: 30px !important;}
.margen-sutil{margin: 2% !important;}
/*-------------------------------------------------------*/

/* fondos de colores para los divs o contenedores*/
/*.fondo_negro{
    background-color:  #2f2e2f !important;
}*/
.fondo-negro{
    background-color:  #323232 !important;
}

/*.fondo-negro div{
    background-color:  #323232 !important;
}*/

.fondo_blanco{
    background-color:  white !important;
}
/*-------------------------------------------------------*/
/*ANTERIOR COLOR #eac12e*/
/*Color verde: rgb(12, 156, 88)*/
/*estilos espesificios para la cabecera*/
.ui-header .ui-title, .ui-footer .ui-title{
    padding: 5px 0px 0px 0px !important;
}
.atras{width: 50px; height: 45px;}
.atrasimg{height: 20px; margin-left: -5px;}
.atras_flecha{width: 25px;}/* height: 15px}*/
.fondo_negro div h2{color: white; font-size: 18px;}
.hora_entrega_inputcfondo-verde{background-color: #008c53 !important}
.fondo-amarillo{background: rgb(12, 156, 88) !important; background-color: rgb(12, 156, 88) !important};
.fondo_verde_claro{background-color: #00cc66 !important}
.fondo-rojo{background-color: red !important}
.fondo-azulf{background-color: #059 !important}
/*.fondo-amarillo{background-color: yellow !important}*/
.fondo-blanco{background-color: white !important}
.fondo_claro_transparente{background-color: rgba(84, 206, 133, 0.52);}
.fondo_claro_gris{background-color: #ededed;}

.conten_val_acceso{
    background: white !important;
    border-radius: 3px;
    height: 37px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 8px;
    padding-top: 0.1em;
    padding-bottom: .5em;
    padding-left: 10px;
}
.conten_val_acceso .ui-slider-track {
    position: relative;
    overflow: visible;
    border-width: 1px;
    border-style: solid;
    height: 1px;
    margin: 0 15px 0px -55%;
    top: 6px;
    width: 30%;
    margin-top: 6px;
}
.conten_val_acceso .ui-slider-track .ui-btn{
    background-color: #5ebf60 !important;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    border-radius: 2px !important;
}
.conten_val_acceso .ui-shadow-inset{
    color: white !important;
}
@media screen and (max-width: 320px) {
    .conten_val_acceso .ui-slider-track {
        position: relative;
        overflow: visible;
        border-width: 1px;
        border-style: solid;
        height: 1px;
        margin: 0 15px 0px -48%;
        top: 6px;
        width: 30%;
        margin-top: 6px;
    }
    .validar_acceso{
        position: absolute;
        bottom: 43%;
        left: 18%;
        font-size: 12px !important;
    }
}
@media screen and (min-width: 321px) {
    .conten_val_acceso .ui-slider-track {
        position: relative;
        overflow: visible;
        border-width: 1px;
        border-style: solid;
        height: 1px;
        margin: 0 15px 0px -58%;
        top: 6px;
        width: 30%;
        margin-top: 6px;
    }
    .validar_acceso{
        position: absolute;
        bottom: 4%;
        left: 14%;
        font-size: 12px !important;
    }
}

/*-------------------------------------------------------*/


/*estilos especificos para el footer*/
.footer-tablero-user{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1000;
    margin-bottom: 10px;
}
/*.tablero_ruta-user{
    background: url(../img/iconos/tableroruta.png) center;
    background-size: cover;
    height: 159px; width: 200px;
    color: white;
    
}
.tablero_ruta-user h3{
    padding-top: 10px;
    padding-left: 5px;
}
.tablero_ruta-user #nom_ruta_tabl{
    margin-top: -14px;
    background: none;
    padding-top: 0px;
    margin-bottom: 5px;
    padding: 0px;
}*/
.footer-tablero{
    position: fixed;
    bottom: -80px;
    width: 100%;
    z-index: 1000;
}
.tablero_ruta{
    background: url(../img/iconos/tableroruta.png) center;
    background-size: cover;
    height: 150px; width: 200px;
    color: white;
    
}
.tablero_ruta h3{
    padding-top: 10px;
    padding-left: 5px;
}
/*-------------------------------------------------------*/


/*estilos espesificios para el login*/
.logo_principal{
    margin-top: 18%;
    margin-bottom: 50px;
}
.login_facebook{
    margin-top: 30px;
}
.btn_facebook{
    height: 30px;
    width: 30px;
}

/*#login div center input{
    border: 1px solid #EAC12E;
    border-radius: 50px;
    background-color: transparent !important;
}*/
#pagoefectivo input{
    border: 1px solid rgb(12, 156, 88);
    border-radius: 50px;
    background-color: transparent !important;
}
#pagos .ui-input-text{
    border: 1px solid rgb(12, 156, 88) !important;
    border-radius: 50px;
    background-color: transparent !important;
    width: 60%;
}
#pagos .ui-content{
    padding: 1em !important;
}
.btn{
    margin-top: 10px;
    border-radius: 3px !important;
    /*font-family: Arial, Helvetica, sans-serif !important;*/
}
.btn_cambiodir{
    border-radius: 3px !important;
    /*font-family: Arial, Helvetica, sans-serif !important;*/  
    padding: .4em 1em !important;
}
.igualar{
    padding: .4em 1em !important;
}
.olvidopass{background-color: transparent !important;}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
    background-color: transparent !important;
}
.fondo_page{
    background: white !important;
    padding-top: 5% !important;
}

/*.fondo_page .ui-input-text{
    border: 1px solid #EAC12E !important;
    border-radius: 50px;
    background-color: transparent !important;
}*/
/*.fondo_page .ui-btn{border-color:  transparent !important;}
.fondo_page div a{
    margin-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif !important;
    letter-spacing: 0.5px !important;    
    font-weight: 100 !important;
}*/
input{
    background: white;
}
/*#username_input .ui-input-text{ diana
    background-color: #ededed !important;
    background-image: url(../img/iconos/usern.png) !important;
    background-position: 6px 6px !important;
    background-repeat: no-repeat !important;
    padding-left: 42px !important;
    padding-top: 2px !important;
    padding-bottom: 1.5px;
    padding-right: 1px;
}*/

#nombre_input_registro .ui-input-text, 
#apellidos_input_registro .ui-input-text, 
#nombre_input_tarjeta .ui-input-text,
#documento_input_tarjeta .ui-input-text,
#tarjeta_input_tarjeta .ui-input-text,
#cvc_input_tarjeta .ui-input-text{
    background-color: #ededed !important;
    background-image: url(../img/iconos/usern.png) !important;
    background-position: 6px 6px !important;
    background-repeat: no-repeat !important;
    padding-left: 42px !important;
    padding-top: 2px !important;
    padding-bottom: 1.5px;
    padding-right: 1px;
}
#email_input_registro .ui-input-text{
    background-color: #ededed !important;
    background-image: url(../img/iconos/correon.png) !important;
    background-position: 6px 6px !important;
    background-repeat: no-repeat !important;
    padding-left: 42px !important;
    padding-top: 2px !important;
    padding-bottom: 1.5px;
    padding-right: 1px;
}
#password_input_registro .ui-input-text, 
#rep_password_input_registro .ui-input-text{
    background-color: #ededed !important;
    background-image: url(../img/iconos/passn.png) !important;
    background-position: 6px 6px !important;
    background-repeat: no-repeat !important;
    padding-left: 42px !important;
    padding-top: 2px !important;
    padding-bottom: 1.5px;
    padding-right: 1px;
}
/*#recogida_input .ui-input-text, #entrega_input .ui-input-text{*/

.linea_entrada> div{
    display: inline-flex;
    width: 90%;
    margin: 0 !important;
    border: none;
}

.linea_entrada >div>div{
    width: 100%;
    border: none;
}

.linea_entrada{
    text-align: right;
    padding: 0.3vh;
    margin-bottom: 0.8vh;
}

#telefono_input_registro .ui-input-text{
    background-color: #ededed !important;
    background-image: url(../img/iconos/celn.png) !important;
    background-position: 6px 6px !important;
    background-repeat: no-repeat !important;
    padding-left: 42px !important;
    padding-top: 2px !important;
    padding-bottom: 1.5px;
    padding-right: 1px;
}
#nroviajes_input_billetera .ui-input-text{
    background-color: #ededed !important;
    background-image: url(../img/iconos/numeraln.png) !important;
    background-position: 6px 6px !important;
    background-repeat: no-repeat !important;
    padding-left: 42px !important;
    padding-top: 2px !important;
    padding-bottom: 1.5px;
    padding-right: 1px;
}
#valviajes_input_billetera .ui-input-text{
    background-color: #ededed !important;
    background-image: url(../img/iconos/dolarn.png) !important;
    background-position: 6px 6px !important;
    background-repeat: no-repeat !important;
    padding-left: 42px !important;
    padding-top: 2px !important;
    padding-bottom: 1.5px;
    padding-right: 1px;
}
.ui-input-text input, .ui-input-search input{
    background: white !important;
    border-radius: 0px !important;
}
#hora_entrega_input .ui-btn{
    background-color: #fff;
}
#hora_entrega_inputa .ui-btn,
#hora_entrega_inputb .ui-btn,
#hora_entrega_inputc .ui-btn,
#hora_entrega_inputd .ui-btn,
#hora_entrega_inpute .ui-btn,
#hora_entrega_inputf .ui-btn{
    background-color: #d8d5d5;
}
/*-------------------------------------------------------*/


/*estilos espesificios para el menu*/
/*html,
body,
#homeconductor{  specify page 
  height: 100%;
  margin: 0;
  padding: 0;
}

#homeconductor .ui-content {
  padding: 0;
}*/

.alto-min{
    height: 100% !important;
    position: relative !important;
}
.section_menuf{
    position: fixed;
    top: 53px;
    left: 0px;
    z-index: 9999999;
    width: 50%;
    overflow: hidden !important;
}
.section_menua{
    position: absolute;
    top: 53px;
    left: 0px;
    z-index: 9999999;
    width: 50%;
    overflow: hidden !important;
}
.menu{
    background-color: #323232;
    list-style:none;
    font-size:18px;  
    padding-bottom: 10px;
    height: 89vh; 
    
}
.menu div a{
    text-decoration: none; 
    color: white;
    margin-top: 5px;
}
.alto_btnf{
    height: 50px;
}
.alto_btnf_login{
    height: 30px;
}
/*-------------------------------------------------------*/

/*-----------------------mapaa-----------------------------*/
#mapa_content,#mapa1 {
    height: 100%;
}
#map-canvas-seguimiento{
    height: 66vh !important;
}
.titulo_principal{
    position: absolute;
    top: 10%;
    left: 5%;
}
 

.flotante-arriba{
    position: fixed;
    top: 9vh;
    /*margin-left: 2%;*/
}

.flotante-abajo{
    position: fixed;
    bottom: 3vh;
}

.bubble{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background-color:rgba(12, 156, 88,0.82);
    border-radius: 10px;
    text-shadow:0 1px 0 #969595;
}

.bubble-white{
    position: inherit;
    /*height: 40vh;*/
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    /*margin: 10%;*/
    margin-top: 40%;
    padding-top: 5%;
    padding-bottom: 2%;
    box-shadow:0 4px 3px 5px rgba(0, 0, 0, 0.14), 0 4px 12px 12px rgba(0, 0, 0, 0.2);
    background-image: url("../img/fondo/rockywall.png");
    background-color: rgba(255,255,255,1)/*#e1e4d3e8*/;
    /*border-radius: 0px;*/
    border-top: double 16px rgb(12, 156, 88);/* rgb(184, 184, 179);*/
}

.inicio{
    background-image: url("../img/fondo/dark_mosaic.png");
    background-color: black;
    height: 90vh;
    /*background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url("../img/fondo/pattern5.png");
    /*padding-bottom: 25%;*/

}

.boton-camara{
    font-size: 40px !important;
    position: fixed;
    height: 8vh;
    width: 8vh;
    line-height: 8vh !important;
    text-align: center;
    /*margin: 10%;*/    
    /*box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
    background-color: #333/*#e1e4d3e8*/;
    border-radius: 40%;
}
.boton-arriba{
    bottom: 15vh;
}
.boton-abajo{
    bottom: 4vh;
}
.boton-izq{
    left: 1vh;
}
.boton-der{
    right: 1vh;
}
.boton-status{
    right: 6vh;
}

.zoom-modal{
    position: relative;
    margin: 10%;
    margin-top: 40%;
    box-shadow:0 4px 3px 5px rgba(0, 0, 0, 0.14), 0 4px 12px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(255,255,255,1)/*#e1e4d3e8*/;
    border-radius: 5px;
}

.mono{
    font-size: 1em;
    font-family: 'Droid Sans Mono' ,monospace,'Courier New', Courier;
}

.estado-label{
    font-size: 1.2em !important;
    line-height: 5vh;
    height: 5vh;
    width: 18vh;
    position: fixed;
    text-align: center;
    padding-right: 1%;
    padding-left: 1%;
    /*margin: 10%;*/
    color: white;
    bottom: 0vh;
    /*box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
    background-color: rgba(77, 76, 76, 0.911)/*#e1e4d3e8*/;
    border-radius: 5%;
}

.rotate-transition{transition: transform 0.4s ease-in-out !important;}

.rotate-transition.rotate-now{
	transform:rotate(145deg);
	/*transform:matrix(1.1, 0, -0.3, 1.1, 0, 0);*/
}

.font-normal{font-weight: normal !important;
text-shadow: none !important;
}